body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
}

aside {
  border-right: 1px solid black;
  padding-right: 20px;
}

.choice {
  cursor: pointer;
}

.selected.choice {
  font-weight: bold;
}

.level {
  padding-left: 20px;
}

main {
  padding: 20px;
}

ul li {
  padding: 0;
  list-style: none;
}